.hide {
    display: none;
}

#error {
    background-color: rgba(250, 10, 10, 0.95);
    color: #eee;
    left: 38%;
    position: fixed;
    padding: 20px;
    border-radius: 3px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

gallery {
    display: block;
    padding-top: 70px;
}

#loading {
    position: absolute;
    top: 40%;
    left: 50%;
}

#lg-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: 0 7% 0 7%;
}

.flex-item {
    flex: 0 0 25%;
    margin: 20px 0;
}

.picture {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.pic-wrapper {
    border: 1px solid;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    cursor: pointer;
}

.label {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 0;
}

.label p {
    margin: 0;
    padding: 0 15px;
}

.pic-wrapper .fa-heart,
.pic-wrapper .fa-heart-o {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
    font-size: 1.2em;
    color: #eee;
}

.pic-wrapper .fa-heart:hover,
.pic-wrapper .fa-heart-o:hover {
    color: #FC4848;
}

.pic-wrapper .fa-twitter {
    position: absolute;
    right: 35px;
    bottom: 0;
    padding: 8px;
    font-size: 1.3em;
    color: #eee;
}

.pic-wrapper .fa-twitter:hover {
    color: #00aced;
}

.pic-wrapper .like-count {
    position: absolute;
    right: 8px;
    bottom: 30px;
    font-size: 1.2em;
    color: #eee;
}

.lg-caption {
    display: none;
}

license {
    display: none;
}

/* media query */
@media screen and (min-width: 1600px) {
    .flex-item {
        flex: 0 0 25%;
    }
}


@media screen and (max-width: 1600px) {
    .flex-item {
        flex: 0 0 33.3%;
    }
}

@media screen and (max-width: 1200px) {
    .flex-item {
        flex: 0 0 50%;
    }
}

@media screen and (max-width: 800px) {
    .flex-item {
        flex: 0 0 100%;
    }
    .pic-wrapper {
        border: 1px solid;
        position: relative;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        cursor: pointer;
    }

}
