.icon {
    height: 230px;
    width: 230px;
    margin: 80 auto 0;
    border: solid 1px;
}
.gp-pic {
    height: 300px;
    width: 300px;
    border: solid 1px
}
.gp-info {
    font-size: 120%
}

/* @media (max-width: 768px) { */
/*     .icon { */
/*         height: 300px; */
/*         width: 300px; */
/*         margin: 0 auto; */
/*     } */
/* } */

.container {
    margin-bottom: 30px;
}
